<div class="jumbotron">
<h1>Buy and Sell Advertising Space</h1>
<h2>In unique and clever spots.</h2>
</div><!--end jumbotron-->

<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">

<div class="thumbnail">
  <%= link_to image_tag(listing.image.url), listing %>
       
      <div class="caption">
        <h2 class="center"><%= listing.name %></h2>
        <p><%= listing.description %></p>
        <p class="center"><%= number_to_currency(listing.price) %></p>
        <p class="center"><%= "Sold by #{listing.user.name}" %></p>
        <p class="center"><%= listing.city %></p>
        <p class="center"><%= listing.state %></p>
        </div>
    </div>


  </div>
  <% end %>
</div>
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>