<!--<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><h3>Now open to the Portland, Oregon market!</h3></strong><br>
  <span>Interested in another market?</span><br><a href="#" class="alert-link">Let Us Know.</a> 
</div>-->
<div class="row padbotlg">

 
<div class="col-md-6 center-block padbot" id="search-wrap">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Search Is Coming Very Soon!">
    </div>
</div><!--end search-wrap-->


  <% @listings.each do |listing| %>
  <div class="col-md-6 hm-listing-bx">

<div class="thumbnail">
  <%= link_to image_tag(listing.image.url(:xlarge)), listing %>
       
      <div class="caption">
          <h2 class="center"><%= listing.title %></h2>
          <p><%= truncate listing.description, length: 200 %></p>
          <div class="btn-wrap center">
           <%= link_to 'View It', listing, class: "btn btn-primary" %>
          </div><!--end btn-wrap-->

             <div id="hm-box-bottom">
                <ul>
                  <li><%= number_to_currency(listing.price) %></li>
                  <li><%= "Sold by #{listing.user.name}" %></li>
                  <li><%= listing.city %>, <%= listing.state %> </li>
                </ul>
              </div><!--end hm-box-bottom-->


      </div><!--end caption-->



       
      
  
  </div><!--end thumbnail-->
</div>
  <% end %>
</div>
